/* .form-control {
  background-color: rgb(246, 247, 251);
}

.form-control:focus {
  background-color: rgb(246, 247, 251);
}

textarea.form-control {
  border: 1px solid #343434;
  border-radius: .5em;
  padding: 1em;
}

textarea.form-control:focus {
  border-color: #343434
} */