.typing-container {
    background-color: rgb(246, 247, 251);
    width: 50%;
    height: 30rem;
    left: 25%;
    top: 6%;
}

.typing-container .definition {
    margin-top: 15%;
    font-size: 3rem;
}

.typing-container .typing-section {
    bottom: 7rem;
}

.typing-section .form-control {
  font-size: 1.7rem;
  background-color: rgb(246, 247, 251);
}

.typing-section .form-control:focus {
  border-color: #000;
  background-color: rgb(246, 247, 251);
}

.link-back {
  color: #000;
  text-decoration: none;
}

.link-back:hover {
  color: #000;
}